<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <dataProviders>
      <catalogprovider type="Sitecore.Support.Commerce.Connect.CommerceServer.Catalog.CatalogDataProvider, Sitecore.Support.26827" patch:instead="*[@type='Sitecore.Commerce.Connect.CommerceServer.Catalog.CatalogDataProvider, Sitecore.Commerce.Connect.CommerceServer']" />
    </dataProviders>
  </sitecore>
</configuration>